{% extends 'accounts/registration/dashboard/dashboard_base.html' %}

{% block page_title %}{{block.super}} | Audios{% endblock page_title %}

{% block dashboard_navbar %}
<li class="list-group-item border-0 ">
    <a href="{% url 'accounts:edit_profile' %}" class="btn btn-light shadow-0 w-100 rounded-0"><i
            class="bi bi-person"></i> Edit Profile</a>
</li>
<li class="list-group-item border-0">
    <a href="{% url 'accounts:downloads_all' %}" class="btn btn-dark shadow-0 w-100 rounded-0"><i
            class="bi bi-cloud-arrow-down"></i> Downloads</a>
</li>
{% endblock dashboard_navbar %}

{% block dashboard_info %}
<div class="row mb-3">
    <h1 class='text-center align-middle'><i class="bi bi-youtube"></i> Youtube Downloader</h1>
</div>
<div class="mb-1 mt-4 mx-auto">
    <a class="btn btn-outline-dark rounded-0" href="{% url 'accounts:downloads_all' %}"><i class="bi bi-layers"></i>
        All</a>
    <a class="btn btn-light rounded-0 shadow" href="{% url 'accounts:downloads_audios' %}"><i
            class="bi bi-file-music"></i> Audios</a>
    <a class="btn btn-outline-dark rounded-0" href="{% url 'accounts:downloads_single_videos' %}"><i
            class="bi bi-camera-video"></i> Single Videos</a>
    <a class="btn btn-outline-dark rounded-0" href="{% url 'accounts:downloads_playlists' %}"><i
            class="bi bi-collection-play"></i> Playlists</a>
</div>
<div class="card mx-auto border-0 rounded-0 rounded p-3 mt-3">
    <div class="row g-0">
        {% if audio_list %}
        <table class="table h-100 justify-content-center align-items-center">
            <thead>
                <tr>
                    <th scope="col" class="text-center" style="width: 10%">Thumbnail</th>
                    <th scope="col" class="text-center" style="width: 40%">Title</th>
                    <th scope="col" class="text-center" style="width: 10%">Bitrate</th>
                    <th scope="col" class="text-center" style="width: 10%">Extension</th>
                    <th scope="col" class="text-center" style="width: 10%">Time Expiration</th>
                    <th scope="col" class="text-center" style="width: 100%">Download</th>
                </tr>
            </thead>
            <tbody>

                {% for audio in audio_list %}
                <tr>
                    <td class="text-center align-middle"><img src="{{audio.video_thumb_url}}" alt="" width=128 class="rounded"></td>
                    <td class="text-center align-middle">{{audio.video_title}}</td>
                    <td class="text-center align-middle"></td>
                    <td class="text-center align-middle">{{audio.audio_downloaded_format}}</td>
                    <td class="text-center align-middle">{{audio.audio_remaining_time_url}}</td>
                    <td class="text-center align-middle">
                        <a class="btn btn-outline-dark rounded-0 shadow"
                            href="{% url 'accounts:download_file' audio.video_id audio.audio_downloaded_format %}"><i
                                class="bi bi-cloud-download"></i></a>
                        <a class="btn btn-outline-dark rounded-0 shadow" href="#"><i
                                class="bi bi-arrow-clockwise"></i></a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        {% else %}
        <h5 class='text-center mt-3'>You haven't posted a request for downloading audio</h5>
        <div class='col-md-12 text-center'>
            <a href="{% url 'youtube:get_link' %}" class="btn btn-light rounded-0 shadow my-3"><i
                    class="bi bi-arrow-right-short"></i> Please Start</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock dashboard_info %}