{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="card mx-auto border-0 shadow-sm rounded-0 mt-4" style="max-width: 960px">
    <div class="row g-0">
        <div class="col-md-6" style="background-color:#FFFFD4">
            <img src="{% static 'image/accounts_bg.png' %}" class="img-fluid mx-auto d-block" alt="...">
        </div>
        <div class="col-md-6 p-4">
            <h4 class='text-left mb-3'><i class="bi bi-key"></i> Change Password</h4>
            <div class="row align-items-center h-100">
                <div class="mx-auto">
                    <form action="" method='post' novalidate>
                        {% csrf_token %}
                        <div class="form-floating mb-1">
                            {{ send_passwords_form.password1 }}
                            <label for="floatingInput">Password</label>
                            {{ send_passwords_form.password1.errors }}
                        </div>
                        <div class="form-floating mb-1">
                            {{ send_passwords_form.password2 }}
                            <label for="floatingInput">Password Confirmation</label>
                            {{ send_passwords_form.password2.errors }}
                        </div>
                        <button type="submit" class='btn btn-dark shadow-sm mt-3 rounded-0 align-middle' id="login_btn"><i class="bi bi-box-arrow-in-right"></i> submit</button>
                    </form>
                </div>
                <div class="mb-3 text-muted text-center align-self-end" style="padding-bottom: 1.4rem !important"><span>Haven't an account? </span><a href="{% url 'accounts:user_register' %}">Register here</a></div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block script %}
<script>
    let login_btn = document.getElementById("login_btn")
    login_btn.addEventListener("click", function(){
        login_btn.innerHTML = '<div class="spinner-border spinner-border-sm text-light" role="status"><span class="sr-only">Loading...</span></div> submit'
     }); 
</script>
{% endblock script %}