{% extends 'base.html' %}
{% load static %}

{% comment %}
{% block content %}
<form method="post" action=""> 
    {% csrf_token %}
    {{forgetpass_form}}
</form>
{% endblock content %} {% endcomment %}



{% block content %}
<div class="card mx-auto border-0 shadow-sm rounded-0 mt-4" style="max-width: 960px">
    <div class="row g-0">
        <div class="col-md-6" style="background-color:#FFFFD4">
            <img src="{% static 'image/accounts_bg.png' %}" class="img-fluid mx-auto d-block" alt="...">
        </div>
        <div class="col-md-6 p-4">
            <h4 class='text-left mb-3'><i class="bi bi-key"></i> Password Reset</h4>
            <div class="row align-items-center h-50">
                <div class="mx-auto">
                    <form method="post" action="">
                        {% csrf_token %}
                        {% comment %} {{forgetpass_form}} {% endcomment %}
                        <div class="form-floating mb-1">
                            {{ forgetpass_form.email }}
                            <label for="floatingInput">Email</label>
                            {{ forgetpass_form.email.errors }}
                        </div>
                        <button type="submit" class='btn btn-dark shadow-sm mt-3 rounded-0 align-middle' id="forgetpass_form"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                            <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                          </svg> Send email</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block script %}
<script>
    let login_btn = document.getElementById("forgetpass_form")
    login_btn.addEventListener("click", function(){
        login_btn.innerHTML = '<div class="spinner-border spinner-border-sm text-light" role="status"><span class="sr-only">Loading...</span></div> Send email'
     }); 
</script>
{% endblock script %}